#scene {
    width: 400px;
    height: 650px;
    top: calc(50% - 250px);
    margin-left: calc(50% - 200px);
    position: relative;
}

#pyramid {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
}

section:nth-child(1) {
    background-image: url('../img/background.png');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.layer {
    list-style: none;
    cursor: pointer;
}

    .layer:first-child {
        z-index: 6;
        margin-left: -40px;
    }

    .layer:nth-child(2) {
        margin-top: 110px;
        margin-left: 52px;
        z-index: 5;
    }

    .layer:nth-child(3) {
        margin-top: 200px;
        margin-left: 89px;
        z-index: 4;
    }

    .layer:nth-child(4) {
        margin-top: 270px;
        margin-left: 115px;
        z-index: 3;
    }

    .layer:nth-child(5) {
        margin-top: 330px;
        margin-left: 146px;
        z-index: 2;
    }

.pyramidText {
    position: absolute;
    z-index: 10;
    width: 500px;
    height: 300px;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -250px;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

#reduce {
    background-color: #a4c3ab;
}

#reuse {
    background-color: #8fc3bb;
}


#recycle {
    background-color: #b0d6e2;
}

#recovery {
    background-color: #a8a7be;
}

.glyphicon-remove {
    color: white;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}

.information {
    position: absolute;
    bottom: 70px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

    .information:hover {
        transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }


.introduction {
    position: absolute;
    top: 60px;
    width: 700px;
    height: auto;
    padding: 20px;
    left: 50%;
    margin-left: -350px;
    background-color: cadetblue;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
